@import url(null.css);
section{
    background: linear-gradient(90deg, black 50%, white 50%);
    padding: 55px 0 ;
}
.container{
    max-width: 1144px;
    margin: 0 auto;
}
.head{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
.nav{
    max-width: 700px;
    justify-content: space-between;
    position: absolute;
    right: 0;

}
.nav > ul{
    display: flex;
    flex-wrap: wrap;

}
li{
    list-style: none;


}

.nav ul li a {
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
    background-color: gray;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Permanent Marker';
    text-decoration: none;
    margin: 6px;
    display: inline-block;
    transition: all .5s ease-in-out;
}
.nav ul li a:hover {
    background-color: white;
    color: black;
    margin: 7px 0 0 7px;
    padding: 8px 15px;
}
.contact, .contact_two{
    position: relative;
}
.contact > ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.contact:hover .one_level{
    display: block;
}

.contact_two > ul{
    position: absolute;
    top: 0;
    right: 100%;
    display: none;
}
.contact_two:hover .two_level{
    display: block;
}
.nav > ul > li:before{
    content: "";
    display: block;
    width: 113px; height: 67px;
    background: url('../images/css_sprites.png') -143px -10px;
}
.nav > ul > li:nth-child(2):before{
    content: "";
    display: block;
    width: 113px; height: 67px;
    background: url('../images/css_sprites.png') -10px -10px;
}
.nav > ul > li:nth-child(3):before{
    content: "";
    display: block;
    width: 113px; height: 67px;
    background: url('../images/css_sprites.png') -10px -108px;
}
.nav > ul > li:nth-child(4):before{
    content: "";
    display: block;
    width: 113px; height: 67px;
    background: url('../images/css_sprites.png') -143px -108px;
}
h1{
    font-size: 70px;
    font-family: 'Permanent Marker';
    color: white;
}
.title{
    text-align: center;
 }
h1 span{
    color: black;
}

.yamaha{
    padding: 50px;
    background-image: linear-gradient(180deg, white 50%, black 50%);
    border-radius: 3%;
    text-align: center;
}
.images_foto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.images {
    max-width: 400px;
    max-height: 500px;
    text-align: center;
    position: relative;
}
.images img{
    width: 100%;
    height: 100%;
}
.opacity{
    color: white;
    background-color: rgba(00, 0, 0, .5);
    font-size: 35px;
    padding: 30px 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;

}
.images:hover .opacity{
    opacity: 1;
    top: 0;
    bottom: 0;
}
.info h2{
    color: black;
}
.info p{
    color: white;
}
.social{
    display: inline-block;
    position: fixed;
    top: 20%;
    right: -450px;
    transition: all 1s ease-in-out;
}
.stik{
    display: inline-block;
    padding: 10px 20px;
    transform: rotate(270deg)translateX(-110px)translateY(-60px);
    background-color: rgba(10, 63, 72, .5);
    color: white;
    border-radius: 5px;


}
.social:hover{
    right: 0;
}
.social_body{
    padding: 50px 150px;
    background-color: rgba(10, 63, 72, .5);
    border-radius: 5px;
    text-align: center;

}
.social_body > div{
    transform: rotate(45deg);
}
.social_top > div, .social_bottom > div{
    display: inline-block;
    background-color: slategray;
    overflow: hidden;
    margin-right: 2px;
    transition: all 1s ease-in-out;
}
.social_top > div:hover, .social_bottom > div:hover{
    transform: rotate(180deg);
}
.social a{
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: bottom;
    padding-top: 15px;
    transition: all 1s ease-in-out;
}
.social a:hover{
    background-color: black;
}

i{
    font-size: 45px;
    color: white;
    transform: rotate(-45deg);
    transition: all 1.5s ease-in-out;
}
.social a i:hover{
    color: red;
}
